<% if (theme.duoshuo_shortname && page.comments){ %>
<section id="comments" class="comment">
	<div class="ds-thread" data-thread-key="<%- page.path %>" data-title="<%- page.title %>" data-url="<%- page.permalink %>"></div>
</section>
<% } %>
<% if( (config.disqus_shortname || theme.disqus_shortname) && page.comments) { %>
<section id="comments" class="comment">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
<% if (theme.gitalk) { %>
    <div id="gitalk-container">
      <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
      <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
      <script type="text/javascript">
        var gitalk = new Gitalk({
          clientID: '9cc4ad70a7ea08a5e2ee',
          clientSecret: '90a96ec418401a19b45f8d76efaf3a345aec3367',
          repo: 'https://github.com/chlyzzo/chlyzzo.github.io',
          owner: 'chlyzzo',
          admin: 'chlyzzo',
          id: window.location.pathname
        }) 
       gitalk.render('gitalk-container')        
      </script>
    </div>
<% } %>